<div class="wrapper">
  <button class="btn btn-undo" (click)="undoListItem()" [disabled]="undoList.length === 0">Undo [Remaining: {{
    undoList.length
    }}]</button>

  <div class="lists">
    <div class="list1">
      <p>List1</p>
      <div class="list-item" *ngFor="let item of list1">
        <p>{{ item }} <button class="btn btn-delete" (click)="deleteFromLists(item, 'list1')">&times;</button></p>
      </div>
    </div>
    <div class="list2">
      <p>List2</p>
      <div class="list-item" *ngFor="let item of list2">
        <p>{{ item }} <button class="btn btn-delete" (click)="deleteFromLists(item, 'list2')">&times;</button></p>
      </div>
    </div>
    <div class="list3">
      <p>List3</p>
      <div class="list-item" *ngFor="let item of list3">
        <p>{{ item }} <button class="btn btn-delete" (click)="deleteFromLists(item, 'list3')">&times;</button></p>
      </div>
    </div>
    <div class="list4">
      <p>List4</p>
      <div class="list-item" *ngFor="let item of list4">
        <p>{{ item }} <button class="btn btn-delete" (click)="deleteFromLists(item, 'list4')">&times;</button></p>
      </div>
    </div>
  </div>
</div>
